Package: transmission-daemon-dbgsym
Package-Type: ddeb
Source: transmission
Version: 4.1.3-0~local1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 17355
Depends: transmission-daemon (= 4.1.3-0~local1)
Section: debug
Priority: optional
Description: debug symbols for transmission-daemon
Build-Ids: af3846b465ae0922c1f308215f1a9040eeab8fe9
Original-Maintainer: Sandro Tosi <morph@debian.org>
